/* -----HEADER----- */
#logo-container {
	padding: 20px;
}
/* -----TICKET BUTTON----- */
.btn-lippukauppa, .btn-lippukauppa:hover {
	color: #330000;
	background: none;
	font-size: 20pt;
	border-color: #330000;
}
.btn-lippukauppa:hover {
	background-color: #DEDEDE;
}