html{
	position: relative;
	min-height: 100%;
}

body{
	/* Margin bottom by footer height */
	margin-bottom: 250px;
}

/* Tausta */
/*.koneisto {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: url('../img/koneisto_1080.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
}*/
.koneisto {
	position: fixed;
	z-index: -1;
	max-height: 100%;
	right: 0;
	top: 0;
}
.koneisto img {
	max-height: 100%;
}

/* Header */
#logo-container {
	padding: 20px;
}

/* Lippukauppa-button */
.btn-lippukauppa, .btn-lippukauppa:hover {
	color: #330000;
	background: none;
	font-size: 20pt;
	border-color: #330000;
}

.btn-lippukauppa:hover {
	background-color: #DEDEDE;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px; /* TODO change pixels */
  background-color: #f5f5f5;
}

.kumppanit{
	text-align: center;
}

.kumppanit img{
	padding: 20px;
}
